* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

.logo {
  cursor: pointer;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.nav__links a,
.cta,
.newNote,
.editButton,
.deleteButton,
.searchForm button {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 129, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 139, 0);
}

.title {
  margin-top: 3rem;
}

.newNote {
  background-color: #1cc527;
  padding: 9px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.notes-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.notes-table thead tr {
  background-color: rgba(0, 136, 129, 1);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.notes-table th,
.notes-table td {
  padding: 12px 15px;
}

.notes-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.notes-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.notes-table tbody tr:last-of-type {
  border-bottom: 2px solid rgba(0, 136, 129, 1);
}

.editButton {
  background-color: #ced118;
}
.deleteButton {
  background-color: #dd4b11;
}

.editButton,
.deleteButton,
.searchForm button {
  width: 10em;
  float: right;
  margin: 2px;
  padding: 9px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.buttons {
  width: 10px;
}

.form-box-root {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.boxes input, select{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    
}

.boxes {
  padding-bottom: 24px;
}

.boxes input[type="submit"] {
  background-color: rgba(0, 136, 129, 1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 136, 129, 1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 25%;
  margin-left: 40%;
}

.edit-form-title {
  padding-bottom: 15px;
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

.edit-form-background-inner {
  padding: 48px;
}


.edit-form-background {
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.searchForm { 
  margin-top: 15px;
}

.searchForm button {
  background-color: rgba(0, 136, 129, 1);
}

.footer {
  background-color: #24252a;
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}