* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.logo {
    cursor: pointer;
}

.nav__links a,
.cta,
.newNote,
.editButton,
.deleteButton {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 129, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 139, 0);
}

.title {
    margin-top: 3rem;
}

.newNote {
    background-color: #1cc527;
    padding: 9px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.notes-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.notes-table thead tr {
    background-color: rgba(0, 136, 129, 1);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.notes-table th,
.notes-table td {
    padding: 12px 15px;
}

.notes-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.notes-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.notes-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(0, 136, 129, 1);
}

.editButton {
    background-color: #ced118;
}
.deleteButton {
    background-color: #dd4b11;
}

.editButton,
.deleteButton {
    width: 10em;
    float: right;
    margin: 2px;
    padding: 9px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.buttons {
    width: 10px;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
}
